<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-LEARNING WEBSITE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<h1 align="center">E-LEARNING WEBSITE</h1>
	<div class="row ">
	    <div class="col-12">
	        <ul class="nav">
		    <li><a href="../index.html" class="around">Home</a></li>
		    <li><a href="Instructors.html" class="around">Instructors</a></li>
		    <li><a href="News.html" class="around">News</a></li>
		    <li><a href="Contact_Us.html" class="around">Contact_us</a></li>
	        </ul>
	    </div>
	</div>
	<div class="row">
		<div class="col-12">
	        <h6>Bright Future Secondary School</h6>
	        <p>The best and fastest way to recieve assistence from the Bright Future Secondary School is to fill out thje contact form below.</p>
	    </div>
	</div>
	<form>
	<div class="row younger">
		<div class="col-6">
			<div class="good"><label>First Name</label></div>
			<input type="text" name="" placeholder="Enter Your First Name">
		</div>
		<div class="col-6">
			<div class="good"><label>Last Name</label></div>
			<input type="text" name="" placeholder="Enter Your Last Name">
		</div>
	</div>
	<div class="row younger">
			<div class="col-6">
				<div class="good"><label>Email</label></div>
				<input type="" name="" placeholder="Enter Your Email">
			</div>
			<div class="col-6">
				<div class="good"><label>Phone</label></div>
				<input type="" name="" placeholder="Enter Your Number">
			</div>
	</div>
	<div class="row younger">
		<div class="col-12">
		<div class="good"><label>Write Message</label></div><textarea placeholder="Additional Comments"></textarea>
		</div>
	   </div>
	</div>
	<input type="submit" name="" class="older">
	</form>

</body>
</html>