<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-LEARNING WEBSITE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<h1 align="center">E-LEARNING WEBSITE</h1>
	<div class="row ">
	    <div class="col-12">
	        <ul class="nav">
		    <li><a href="../Home.html" class="around">Home</a></li>
		    <li><a href="Instructors.html" class="around">Instructors</a></li>
		    <li><a href="News.html" class="around">News</a></li>
		    <li><a href="Contact_us.html" class="around">Contact_us</a></li>
	        </ul>
	    </div>
	</div>
	    <h1 align="center">NEWS</h1>
    <div class="row city">
	    <div class="col-3 cashback">
			<p><strong class="visit">Local School Implements Al-Powered Learning</strong></p>
			<img src="../images/rest/image2.jpg" width="300" height="150">
			<p class="end">A prestigious high school has introduced Al-driven tutoring systems to personalise students learning experiences. Teachers report improved engagement and better academic performance.</p>
		</div>
		<div class="col-3 cashback">
			<p><strong class="visit">High School Win National Science Competition</strong></p>
			<img src="../images/rest/image3.jpg" width="300" height="150">
			<p class="end">Students from Bright Future secured first place in a national science fair with their innovative project on renewable energy. Their inention could pave the way for more sustainable power solutions.</p>
		</div>
		<div class="col-3 cashback">
			<p><strong class="visit">New Sports Complex Opens at Lincoln Academy</strong></p>
			<img src="../images/rest/image6.jpg" width="300" height="150">
			<p class="end">Lincoln Academy has inaugurated a state-of-the-art sports complex, featuring an Olympic-sized swimming pool, a modern gymnasium, and advanced training facilities.Students and athletes are thrilled about the new opportunities.</p>
		</div>
		<div class="col-3 cashback">
			<p><strong class="visit">Rising Concerns Over Student Mental Health</strong></p>
			<img src="../images/rest/image7.jpg" width="300" height="150">
			<p class="end">A recent survey at several schools highlights increasing stress and anxiety among students. Educators are pushing for better mental health resources and support systems to address the issue.</p>
		</div>
	</div>
</body>
</html>